<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="Sell electronics"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project1">
        <activity android:name=".activity.DangkyActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.welcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ThanhToanActivity" />
        <activity android:name=".activity.GioHangActivity" />
        <activity android:name=".activity.ChiTietDonHangActivity" />
        <activity android:name=".activity.ThongTinActivity" />
        <activity android:name=".activity.LienHeActivity" />
        <activity android:name=".activity.DienThoaiActivity" />
        <activity android:name=".activity.LaptopActivity" />
        <activity android:name=".activity.MainActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>